In [121]:
import pandas as pd

In [122]:
import numpy as np

In [123]:
df= pd.read_csv("netflix_titles.csv")

In [124]:
df.shape

(8807, 12)

In [125]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [126]:
df['country']=df['country'].fillna("unknown")

In [127]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country            0
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [128]:
df.dropna(subset=["date_added"],inplace=True)

In [129]:
df.dropna(subset=['director'],inplace=True)

In [130]:
df.shape

(6173, 12)

In [131]:
df.isnull().sum()

show_id           0
type              0
title             0
director          0
cast            473
country           0
date_added        0
release_year      0
rating            1
duration          3
listed_in         0
description       0
dtype: int64

In [143]:
df.dropna(subset=['cast','date_added','rating','duration',"year_added","month_added"],inplace=True)

In [144]:
df.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
year_added      0
month_added     0
dtype: int64

In [145]:
df.drop_duplicates(inplace=True)

In [146]:

df.shape

(5692, 14)

In [147]:
df['date_added']=pd.to_datetime(df['date_added'],errors="coerce")

In [148]:
df['yead_added']=df['date_added'].dt.year

In [149]:
df['month_added']=df['date_added'].dt.month

In [150]:
df.rename(columns={'yead_added':"year_added"},inplace=True)

In [151]:
df.shape

(5692, 15)

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5692 entries, 2 to 8806
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       5692 non-null   object
 1   type          5692 non-null   object
 2   title         5692 non-null   object
 3   director      5692 non-null   object
 4   cast          5692 non-null   object
 5   country       5692 non-null   object
 6   date_added    5692 non-null   datetime64[ns]
 7   release_year  5692 non-null   int64
 8   rating        5692 non-null   object
 9   duration      5692 non-null   object
 10  listed_in     5692 non-null   object
 11  description   5692 non-null   object
 12  year_added    5692 non-null   float64
 13  month_added   5692 non-null   int32
 14  year_added    5692 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(2), int64(1), object(10)
memory usage: 667.0+ KB

In [153]:
df['is_movie']=df['type'].apply (lambda x: 1 if x=="Movie" else 0)

In [154]:
df.to_csv("cleaned_netflix_data.csv",index=False)